version: 2.1

executors:
  go:
    docker:
      - image: cimg/go:1.25.3
    resource_class: large

jobs:
  build-ci:
    executor: go
    steps:
      - checkout
      - restore_cache:
          keys:
            - go-mod-v1-{{ checksum "go.sum" }}
      - run:
          name: Install gosec
          command: go install github.com/securego/gosec/v2/cmd/gosec@latest
      - run:
          name: Download Go modules
          command: go mod download
      - save_cache:
          key: go-mod-v1-{{ checksum "go.sum" }}
          paths:
            - /home/circleci/go/pkg/mod
      - run:
          name: Run build-ci
          command: make build-ci
          no_output_timeout: 30m

  test-ci:
    executor: go
    steps:
      - checkout
      - restore_cache:
          keys:
            - go-mod-v1-{{ checksum "go.sum" }}
      - run:
          name: Download Go modules
          command: go mod download
      - save_cache:
          key: go-mod-v1-{{ checksum "go.sum" }}
          paths:
            - /home/circleci/go/pkg/mod
      - run:
          name: Run generate and check for uncommitted changes
          command: |
            make generate
            if ! git diff --exit-code; then
              echo "ERROR: make generate produced uncommitted changes"
              echo "Please run 'make generate' locally and commit the changes"
              exit 1
            fi
      - run:
          name: Run test-ci
          command: make test-ci
      - run:
          name: Run integration tests
          command: |
            make fetch-specs
            INTEGRATION_MAX_CONCURRENCY=50 go test -v -tags=integration -count=1 -timeout=15m .
          no_output_timeout: 20m
      - store_test_results:
          path: ./test-results
      - run:
          name: Upload coverage
          command: |
            if [ -f coverage.out ]; then
              bash <(curl -s https://codecov.io/bash)
            fi

workflows:
  ci:
    jobs:
      - build-ci:
          filters:
            branches:
              only:
                - main
                - master
      - test-ci:
          filters:
            branches:
              only:
                - main
                - master
